@charset "utf-8";

body {
	font-family:"Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
	font-size: 1.2em;
}
header{
	background-color:#00deff;
	height:70px;
	box-shadow:2px 2px 20px 20px rgba(200,200,200,0.5);
	margin-bottom:30px;
	padding:10px;
	color:#fff;
	font-size:2rem;
	font-weight:300;
}
footer a,
header a{
	color: #fff;
	transition: .4s
}
footer a:hover,
header a:hover{
	text-decoration: none;
	color: slateblue;
}
h2 {
	font-weight: 800;
}
aside,
nav,
section {
	margin: 0px 5px 35px;
	
}
main > section{
	background-color: #fbfbfb;
	padding: 10px;
}
.editsub > div,
aside,
nav{
	padding: 10px;
	background-color: #fbfbfb;
}
.editsub > div{
	margin-bottom: 10px;
	font-size: 0.8rem;
}
section > h2{
	border-bottom: 3px #00deff solid;
	padding: 2px;
}
section > p{
	padding: 6px;
}
footer{
	background-color:#00deff;
	color:#fff;
	height:90px;
	text-align:center;
	padding:2rem;
}


@media (max-width: 576px) {

	/* スマホ等UI調整 */
	.container,
	.col-md-4,
	.col-md-8{
		padding-left: 0px;
		padding-right: 0px;
	}

	header a{
		font-size: 1.5rem;
		font-weight: 900;
	}

}

/* #7で追加 */
.main_display_contents_list img{
	width: 100% ;
}
.new_contents{
	padding:8px 8px 10px;
	margin-bottom: 10px;
	transition:.2s;
}
.new_contents:hover{
	box-shadow: 10px 5px 20px rgba(200,200,200,0.5),
				-10px 5px 20px rgba(200,200,200,0.5);
	background: #fff;
}
.new_mark{
	position:absolute;
	background:#fd0;
	top: 8px;
	padding:2px 4px;
}
.news_create_date{
	display: block;
}
li.new_contents{
	list-style:none;
	float:left;
}

.new_contents img{
	width:30%;
}

.new_contents span{
	padding-left: 10px;
}

.new_contents a{
	font-size: 1rem;
	text-decoration: none;
}

.main_display_contents_list img{
	width: 100% ;
}


.contents_list_wrap{
	margin-top: 25px;
}

section figure{
	text-align: center;
	margin: 30px 0px;
}


@media (max-width: 576px) {
	.new_contents img{
	  float:left;
	  width:40%;
	}
	.new_contents span{
		padding-left: 2%;
	}
	.new_mark{
		left:8px;
	}
}

.side nav ul.ul_new_contents{
	display: inline-block;
	padding: 0px;
}



