/*==================================
# common
==================================*/
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  -webkit-text-size-adjust: 100%;
     -moz-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 16px;
  line-height: 1.6;
  background: #fff;
  overflow-x: hidden;
  max-width: 100%;
  word-break: break-all;
}

img {
  max-width: 100%;
  width: 100%;
  height: auto;
  border: none;
  -o-object-fit: cover;
     object-fit: cover;
  vertical-align: bottom;
}

a {
  text-decoration: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}

a:hover {
  opacity: 0.6;
}

ul {
  list-style: none;
}

input[type="text"],
input[type="tel"],
input[type="email"] {
  width: 100%;
  font-size: inherit;
  color: "Noto Sans JP", sans-serif;
  border: 1px solid #333;
  border-radius: 5px;
}

input[type="text"]:focus {
  outline: 0;
}

input[type="submit"] {
  width: 100%;
  font-size: inherit;
  color: #fff;
  border: 1px solid #333;
  background-color: #333;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

input[type="submit"]:hover {
  opacity: 0.6;
}

select {
  width: 100%;
  font-size: inherit;
  color: #333;
  border: 1px solid #333;
}

select option {
  color: #333;
}

select option:first-child {
  display: none;
}

textarea {
  width: 100%;
  font-size: inherit;
  color: #333;
  border: 1px solid #333;
  resize: none;
}

::-webkit-input-placeholder {
  opacity: 1;
  color: #333;
}

:-ms-input-placeholder {
  opacity: 1;
  color: #333;
}

::-ms-input-placeholder {
  opacity: 1;
  color: #333;
}

::placeholder {
  opacity: 1;
  color: #333;
}

.SPACER--60 {
  height: 60px;
}

.SPACER--80 {
  height: 80px;
}

.SPACER--100 {
  height: 100px;
}

.SPACER--130 {
  height: 130px;
}

.SPACER--160 {
  height: 160px;
}

.SPACER--200 {
  height: 200px;
}

.SP--NONE {
  display: block;
}

@media (max-width: 767px) {
  .SP--NONE {
    display: none;
  }
}

.TAB--NONE {
  display: block;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .TAB--NONE {
    display: none;
  }
}

@media (max-width: 767px) {
  .TAB--NONE {
    display: none;
  }
}

.inner {
  max-width: 1440px;
  padding: 0 150px;
  margin: 0 auto;
}

@media (max-width: 767px) {
  .inner {
    padding: 0 15px;
  }
}

.btn-color a {
  display: inline-block;
  width: 335px;
  max-width: 100%;
  height: 85px;
  line-height: 85px;
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  border-radius: 10px;
  color: #fff;
  -webkit-box-shadow: 0 3px 6px rgba(51, 51, 51, 0.16);
          box-shadow: 0 3px 6px rgba(51, 51, 51, 0.16);
}

@media (min-width: 768px) and (max-width: 1024px) {
  .btn-color a {
    height: 75px;
    line-height: 75px;
    font-size: 30px;
  }
}

@media (max-width: 767px) {
  .btn-color a {
    width: 230px;
    height: 60px;
    line-height: 60px;
    font-size: 24px;
  }
}

.btn-color-blue a {
  background: #0087cb;
}

.btn-color-blue-sm a {
  height: 70px;
  line-height: 70px;
  font-size: 32px;
  background: #0087cb;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .btn-color-blue-sm a {
    height: 40px;
    line-height: 40px;
    font-size: 20px;
  }
}

@media (max-width: 767px) {
  .btn-color-blue-sm a {
    font-size: 24px;
    height: 50px;
    line-height: 50px;
  }
}

.btn-color-green a {
  background: #00a03e;
}

.btn-transparent {
  display: inline-block;
}

.btn-transparent a {
  padding: 15px 40px;
  display: inline-block;
  max-width: 100%;
  height: 60px;
  line-height: 1;
  font-size: 24px;
  text-align: center;
  border: 2px solid #333;
  background: transparent;
  color: #333;
  -webkit-box-shadow: 0 3px 6px rgba(51, 51, 51, 0.16);
          box-shadow: 0 3px 6px rgba(51, 51, 51, 0.16);
}

@media (max-width: 767px) {
  .btn-transparent a {
    font-size: 16px;
    line-height: inherit;
  }
}

.btn-transparent-vw a {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 400;
  font-size: 1.66vw;
  height: 100%;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .btn-transparent-vw a {
    font-size: 1.25vw;
    padding: 10px 40px;
  }
}

@media (max-width: 767px) {
  .btn-transparent-vw a {
    font-size: 5.5vw;
    padding: 5px 40px;
  }
}

@media (min-width: 1441px) {
  .btn-transparent-vw a {
    font-size: 24px;
  }
}

.btn-large a {
  display: inline-block;
  width: 795px;
  max-width: 100%;
  height: 85px;
  line-height: 85px;
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  border-radius: 10px;
  background: #ed474a;
  color: #fff;
  -webkit-box-shadow: 0 3px 6px rgba(51, 51, 51, 0.16);
          box-shadow: 0 3px 6px rgba(51, 51, 51, 0.16);
}

@media (min-width: 768px) and (max-width: 1024px) {
  .btn-large a {
    width: 100%;
    font-size: 24px;
  }
}

@media (max-width: 767px) {
  .btn-large a {
    width: 100%;
    height: auto;
    font-size: 18px;
    line-height: 2;
    padding: 10px 5px;
  }
}

.pagenation-wrapper {
  text-align: center;
}

.pagenation {
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 100%;
  display: inline-block;
}

.pagenation a {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.pagenation a:hover {
  opacity: 0.6;
}

.pagenation a.next,
.pagenation a.prev {
  font-size: 30px;
  height: 40px;
  width: 40px;
}

.pagenation a.next:hover,
.pagenation a.prev:hover {
  opacity: 0.6;
}

.page-numbers {
  background: #fff;
  border: 1px solid #e2e2e2;
  color: #808080;
  display: inline-block;
  font-family: "Lato", sans-serif;
  font-size: 20px;
  height: 40px;
  line-height: 38px;
  margin-right: 14px;
  min-width: 40px;
  text-align: center;
  text-decoration: none;
  margin-bottom: 10px;
}

.page-numbers:last-child {
  margin-right: 0;
}

.page-numbers.current {
  background: #d81f32;
  border: 1px solid #d81f32;
  color: #fff;
  font-weight: 700;
}

.page-numbers.dots,
.page-numbers.next,
.page-numbers.prev {
  border: none;
  line-height: 40px;
  min-width: initial;
  width: auto;
}

.entry-404 {
  padding-bottom: 85px;
  text-align: center;
}

.entry-404-head {
  color: #f0cdd0;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 72px;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 36px;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .entry-404-head {
    font-size: 56px;
  }
}

@media (max-width: 767px) {
  .entry-404-head {
    font-size: 36px;
  }
}

.entry-404-head span::after {
  content: " ";
}

.entry-404-lead {
  color: #333;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 24px;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .entry-404-lead {
    font-size: 20px;
  }
}

@media (max-width: 767px) {
  .entry-404-lead {
    font-size: 18px;
  }
}

.entry-404-lead .m_sp {
  display: none;
}

.entry-404-content {
  color: #333;
}

.entry-404-btn {
  margin-top: 58px;
}

.entry-404-btn .btn {
  background: #ed474a;
  color: #fff;
}

.entry-404-btn .btn:hover {
  background: #e5e5e5;
  opacity: 1;
}

.cta {
  background: url(../img/cat-bg.png) no-repeat;
  background-size: cover;
}

.cta__inner {
  text-align: center;
}

.cta-title {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 48px;
  font-weight: 700;
  color: #fff;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .cta-title {
    font-size: 38px;
  }
}

@media (max-width: 767px) {
  .cta-title {
    font-size: 32px;
  }
}

.cta-description {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 24px;
  color: #fff;
  margin: 50px 0;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .cta-description {
    font-size: 20px;
  }
}

@media (max-width: 767px) {
  .cta-description {
    font-size: 18px;
  }
}

/*==================================
# header
==================================*/
.header {
  background: #fff;
  height: 100px;
  max-width: 100%;
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.6);
          box-shadow: 0 3px 3px rgba(0, 0, 0, 0.6);
  z-index: 100;
}

@media (max-width: 767px) {
  .header {
    height: 60px;
  }
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: inherit;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__logo a {
  font-size: 56px;
  font-family: "Oswald", sans-serif;
  color: #ed474a;
  font-weight: 700;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .header__logo a {
    font-size: 48px;
  }
}

@media (max-width: 767px) {
  .header__logo a {
    font-size: 32px;
  }
}

.drawer {
  position: relative;
  width: 45px;
  height: 45px;
}

.drawer__checkbox {
  display: none;
}

.drawer__icon {
  cursor: pointer;
  display: block;
  width: inherit;
  height: inherit;
  position: fixed;
  top: 30px;
  bottom: 0;
}

@media (max-width: 767px) {
  .drawer__icon {
    top: 10px;
  }
}

.drawer__icon-parts, .drawer__icon-parts::before, .drawer__icon-parts::after {
  background: #ed474a;
  display: block;
  width: 26px;
  height: 2px;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
}

.drawer__icon-parts::before, .drawer__icon-parts::after {
  content: '';
}

.drawer__icon-parts::before {
  top: 16px;
}

.drawer__icon-parts::after {
  top: -16px;
}

.drawer__overlay {
  background: #333;
  opacity: 0;
  pointer-events: none;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
}

.drawer__menu {
  background: #fff;
  color: #333;
  max-width: 100%;
  width: 320px;
  height: 100vh;
  overflow-y: auto;
  position: fixed;
  top: 0;
  right: -320px;
}

.drawer__menu .drawer__item {
  display: block;
}

.drawer__menu .drawer__item:not(:first-child) {
  margin-top: 10px;
}

.drawer__menu .drawer__item-inner {
  font-size: 18px;
  font-weight: 700;
  color: #333;
}

.drawer__icon {
  z-index: 104;
}

.drawer__menu {
  z-index: 103;
}

.drawer__overlay {
  z-index: 101;
}

.drawer__checkbox:checked ~ .drawer__icon .drawer__icon-parts {
  background: transparent;
}

.drawer__checkbox:checked ~ .drawer__icon .drawer__icon-parts::before {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 0;
}

.drawer__checkbox:checked ~ .drawer__icon .drawer__icon-parts::after {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 0;
}

.drawer__checkbox:checked ~ .drawer__overlay {
  opacity: 0.3;
  pointer-events: auto;
}

.drawer__checkbox:checked ~ .drawer__menu {
  right: 0;
}

@media (max-width: 767px) {
  .drawer__checkbox:checked ~ .drawer__menu {
    max-width: 230px;
  }
}

.drawer__checkbox:checked ~ .drawer__menu ul {
  width: 200px;
  margin-left: auto;
  margin-top: 100px;
  margin-right: auto;
}

.drawer__checkbox:checked ~ .drawer__close {
  left: 0;
}

.drawer__icon-parts, .drawer__icon-parts::after, .drawer__icon-parts::before, .drawer__overlay, .drawer__menu {
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
}

.drawer__close {
  width: 100%;
  height: 100%;
  background: transparent;
  position: fixed;
  top: 0;
  left: 100%;
  z-index: 102;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

/*==================================
# footer
==================================*/
.footer {
  background: #012136;
}

.footer__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .footer__nav {
    display: block;
    text-align: center;
  }
}

@media (max-width: 767px) {
  .footer__nav {
    display: block;
    text-align: center;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .footer__nav li:not(:first-child) {
    margin-top: 20px;
  }
}

@media (max-width: 767px) {
  .footer__nav li:not(:first-child) {
    margin-top: 20px;
  }
}

.footer__nav li a {
  color: #fff;
  font-size: 18px;
}

.copyright {
  margin-top: 45px;
  color: #fff;
  font-size: 14px;
  text-align: center;
}
/*# sourceMappingURL=style.css.map */